html, body, * {
  box-sizing: border-box;
}

html, body {
  height:100%;
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
body {
    background-image: url("images/icecream-wallpaper.jpg");
    margin-bottom: 100px;
}

header {
  margin: 0;
  padding: 0;
  position: relative;
  background-image: url("images/banana-banner.png");
  height: 25vmin;
  background-repeat: no-repeat;
}

h1 {
  font-family: fantasy;
  color:white;
  position: absolute;
  padding: 5% 0% 5% 30%;
  /*margin-top:25px;*/
}

main {
  padding: 0;
  /*position: fixed;*/
  height: 100%;
}

img {
width: 100%;
height: auto; /*100%*/
/*margin: 0;
padding: 0;*/
}

div >li {
  display: inline-block;
}

/* CLASS Styling */

.cf:before, .cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

/*.clearfix:after {
  content: " ";
  display: table;
  clear: both;
}*/

.contact-hours {
  float:left;
  position: relative;
  border: 1px solid brown;
  background-color: yellow;
  font-size: 14px;
}

.column1, .column2, .column3 {
  float: left;
  font-family:fantasy;
  margin: 10px;
  width: 30%;
  border: solid 1px red;
  background: yellow;
  padding: 1rem;
}

.contact-info {
  text-align: left;
  width: 250px;
  height: 50px;
  /*margin-left: 5px;*/
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 15px;
  border: 1px solid red;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
  height: 100px;
}

.logo {
  position: absolute;
  height: 150px;
  width:150px;
  border: 3px solid red;
  border-radius: 50%;
  /* margin-left: 1%; */
  /* margin-top: -5rem; */
  bottom: -75px;
  margin-left: 75px;
}

.row1 {
  background-color: lightblue;
  text-align: center;
  float:
}

.yellow-box-wrapper {
  height: 100%;
  width: 100%;
  }

/* ID Stylings */

#hours {
  height: 250px;
  width: 250px;
}

#rogue {


}
